<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vaktabya Election | Error</title>
</head>
<body>
	<h1>Error! Your vote has <strong>NOT</strong> been recorded!</h1>
	<!-- <h3>Possible Reasons:</h3>
	<ul>
		<li>You have already voted</li>
		<li>You have entered an invalid SECRET_KEY</li>
	</ul> -->
	<a href="/">Try again!</a>
	<h4>{{ message }}</h4>
</body>
</html>