<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vaktabya Election</title>
</head>

<body>
	<form action="/vote" method="post">
		<p>Enter your SECRET_KEY in this box (you will find this in the email you recieved)</p>
		<p><input type="text" name="KEY"></p>
		<p>Your Vote for <strong>PRESIDENT</strong>:</p>
		<p><input type="radio" name="candidate" value="agneev">Agneev Ray</p>
		<p><input type="radio" name="candidate" value="vanshaj">Vanshaj Vidyan</p>
		<br>
		<br>
		<p><input type="submit" value="Vote"></p>
	</form>
</body>

</html>